/* *{}
h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
p{align-items: center;
    text-align: center;
  font-size: 50px;
font-weight: 400;
color: #553c9a;}
li {
    text-align: left;
    margin-left: 10px;
  font-size: 50px;
  width: fit-content;
  color: aliceblue;
}
.box{height: 100%;
width: 800px;
justify-content: center;
margin-left: 30%;
background-color: #553c9a;
border-radius: 15px 15px 15px 15px;}
form{align-items: center;
    text-align: center;
    margin-top: 20px;
  font-size: 50px;

}
form > input{
    padding: 20px;
    font-size: 40px;
    border-radius: 15px 15px 15px 15px;
}
form > button{margin-left:20px;
  background-color: #553c9a;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  font-weight: 500;
} */
.title {
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 50px;
}
* {
  text-align: center;
}
p {
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.btn-1 {
  width: fit-content;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
  font-weight: bold;
  margin-left: 20px;
  font-size: 50px;
}
.input{font-size: 50px;}